<div class="container">
  <div class="panel panel-default">
  	<div class="panel-heading">
  <h1>Dashboard | <%= image_tag('https://www.altoros.com/wp-content/uploads/2015/06/AltorosLogo_mini1.png', :alt => 'altoros company')%></h1> 
</div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td colspan="2"><b>Api Highlights</b></td>
      </tr>
      <tr>
        <td></td>
        <td># Users</td>
        <td><%= @users.count %></td>
      </tr>
      <tr>
        <td></td>
        <td># Questions</td>
        <td><%= @questions.count %></td>
      </tr>
      <td></td>
        <td># Answers</td>
        <td><%= @answers.count %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      <tr />
      <tr>
        <td></td>
        <td colspan="2"><b>Request Count Per Tenant</b></td>
      </tr>

      <% @request_for_tenant.each do |tenant, request_count| %>
        <tr>
          <td></td>
          <td><%= tenant %></td>
          <td><%= request_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <hr />

  <div class='form-inline'>
    <div class='form-group mb-2'>
      <input type='text' name='api_key' placeholder='API key' class='form-control' id='api_key_field'>
    </div>
    <div class='form-group mx-sm-3 mb-2'>
      <input type='text' name='query' placeholder='Search term' class='form-control' id='query_field'>
    </div>
    <button type='submit' id='submit_request' class='btn btn-primary mb-2'>Send</button>
  </div>

  <div id='api_response' class="jumbotron">
    <pre>{}</pre>
  </div>

</div>

<script>
  $('#submit_request').on('click', function(e){
    e.preventDefault();

    var api_key = $('#api_key_field').val();
    var query_term = $('#query_field').val();

    $.ajax({
      method: "GET",
      url: 'api/questions',
      data: { query: query_term, api_key: api_key },

    }).done(function(response) {
      console.log(JSON.stringify(response, null, 2));
      $('#api_response').html('<pre>' + JSON.stringify(response, null, 2) + '</pre>');
    }).fail(function() {
      $('#api_response').html('Call Failed');
    });
  });
</script>